*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    /* font-family: sans-serif; */
    text-align: center;
}
header{
    width: 50%;
}
.logo{
    height: 12vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:36vw;
}
.mobile{
    background: url(./images/hero-mobile.jpg) no-repeat ;
    background-size: contain;
    width: 100vw;
     height: 52vh;

}
/* .mobile{
    width: 90vw; 
  } */
  /* .mobile img {
      width: 100vw;
      object-fit: contain;
  } */
.soon{
    color: #ce8c96;
    text-align: center;
    width: 100vw;
    align-items: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.soon p{
    font-size: 15px;
    max-width: 80vw;
    /* align-self: center; */
}
.soon h1{
    font-weight: lighter;
    letter-spacing: 15px;
}
.soon h1 b{
    color: rgb(54, 51, 51);
}
.mail{
    height: 20vh;
}
.mail input{
    height: 6vh;
    width: 67vw;
    border-radius: 1.5rem;
    border: 1px ridge;
    padding-left: 7px;
}
button{
    width: 15vw;
    height: 6.5vh;
    border: none;
    font-size: 1.2rem;
    background-color: rgb(214, 148, 158);
    border-radius: 1.5rem;
    margin: 3rem 0 2rem -3rem ;
}
@media only screen and (min-width:768px){
    .logo img{
        width: 22vw;
    }
    .logo{
        height: 15vh;
        width: 32vw;
    }
    .mobile{
        height: 95vh;
    }
    /* .mobile img{
     width: 100vw;
    } */
    .soon{
        height: 70vh;
    }
    .soon h1{
        font-size: 2.7rem;
        letter-spacing: 20px;
    }
    .soon p{
     font-size: 24px;
     max-width: 70%;
     align-self: center;  
    }
    .mail input {
        width:44vw ;
        height: 7.7vh;
        font-size: 1.1rem;
        border-radius: 2rem;
        padding-left: 20px;
    }
    button{
        width: 8vw;
        height: 7.7vh;
        border-radius: 2rem;
    }
}
@media only screen and (min-width:1024px){
    .mobile {
        display: none;
    }
    .desktop {
        width: 50vw;
        height: 125vh;
        background-image: url(/images/hero-desktop.jpg);
        background-size: cover;
    }
    .logo{
        height: 35vh;
        width: 34vw;
    }
    .logo img{
        width: 21vw;
        align-self: center;
    }
    .soon{
        width: 100%;
        height: 90vh;
    }
    .soon h1{
        font-size: 3.3rem;
        text-align: left;
        align-self: center;
    }
    .soon p{
        font-size: 27px;
        text-align: center;
        max-width: 70%;
    }
    .mail input{
        width: 32vw;
        border-radius: 2rem;
        padding-left: 12px;
        font-size: 1.3rem;
    }
    button{
        width: 7vw;
        border-radius: 2rem;
        margin-left: -4rem;
    }
    body{
        display: flex;
        justify-content: center;
        background: url(./images/bg-pattern-desktop.svg) no-repeat;
    }
}
@media only screen and (min-width:1400px){
    .logo{
        height: 30vh;
    }
    .logo img{
        width: 19vw;
    }
    .soon h1 {
        position: relative;
        right: 46px;
        font-size: 3.7rem;
    }
    .soon p{
         font-size: 30px;
         max-width: 73%;
    }
    .mail input {
        font-size: 1.4rem;
        font-size: 1.6rem;
        border-radius: 4rem;
        padding-left: 18px;
    }
    button{
        border-radius: 1.6rem;
        width: 6vw;
        border-radius: 4rem;
    }
    .desktop{
        height: 130vh;
    }
}
@media only screen and (min-width:2500px){
    .soon{
       height: 90vh;
    }
    .soon h1{
        font-size: 8.5rem;
        position: relative;
        right: 78px;
    }
    .soon p{
        font-size: 3.5rem;
        max-width: 78%;
    }
    .mail input{
        border: 1.7px ridge;
        border-radius: 3rem;
        font-size: 2.6rem;
    }
    button{
        font-size: 3rem;
        border-radius: 3rem;
    }
    .desktop{
        height: 130vh;
    }
}