*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 .logo{
     height: 29vh;
     width: 30vw;
     text-align: center;
     position: relative;
     top: 50px;
     left: 62px;
 }
 .logo img{
     height: 7vh;
 }
.soon h1{
    font-size: 3.5rem;
    font-weight: lighter;
    width: 60vw;
    height: 33vh;
    text-align: center;
    max-width: 280px;
    position: relative;
    top: 10px;
    left: 180px;
    letter-spacing: 20px;
    color: rgb(201, 148, 157);
}
.soon h1 b{
    margin-left: 15px;
    color: black;
}
.soon p{
  font-size: 30px;
  font-style: italic;
  width: 36vw;
  height: 35vh;
  text-align: left;
  max-width: 460px;
  position: relative;
  top: 10px;
  left: 195px;
  color:  rgb(201, 148, 157);;
}
.mail{
    height: 30vh;
    width: 60vw;
}
.mail input{
    width: 22vw;
    height: 5vh;
    position: relative;
    top: 10px;
    left: 190px;
    border-radius: 1rem;
    border: 1px ridge;
    padding-left: 20px;
    font-size: 1rem ;
}
button{
    position: relative;
    top: 13px;
    left: 130px;
    width: 5vw;
    height: 4.9vh;
    border-radius: 1rem;
    border: none;
    background-color: rgb(201, 148, 157);
    color: white;
    font-size: 1.5rem;
}
.hero{
    width: 100vw;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
}
.hero img{
    width: 43vw;
    height: 129vh;
    position: relative;
    right: 5px ;
}